<div class="text-center">
  <div class="join">
    <a href="/<%= request.fullpath.gsub('gozne.eu', 'gozne.io') %>" class="btn bg-base-200 join-item w-32  <%= 'bg-base-300' if request.host == 'gozne.io' %>">
      <%= svg_icon 'world', class: 'w-5 h-5' %>
      Global
    </a>
    <a href="https://gozne.eu<%= request.fullpath.gsub('gozne.io', 'gozne.eu') %>" class="btn bg-base-200 join-item w-32 <%= 'bg-base-300' if request.host == 'gozne.eu' %>">
      <%= svg_icon 'eu_flag', class: 'w-5 h-5' %>
      Europe
    </a>
  </div>
</div>
